.cardDay{
   
    
    margin:5px;
}

.card-body{
    padding:0px;
}
.pac-container{
    z-index: 8000;
   }
<<<<<<< HEAD

.navbar .dropdown-menu .form-control {
    width: 200px;
}
=======
>>>>>>> master
